@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Edu TAS Beginner', cursive;
}

.fondo-primario {
    background-color: rgb(48, 95, 100)
}
.borde-primario {
    border-color: #305e63;
}
.fondo-secundario {
    background-color: #87bfaa;
}
.letra-primaria {
    color: #305e63;
}
.fondo-primario-dark {
    background-color: #204d52;
}

.cursiva {
    font-family: 'tangerine', 'Dancing Script', cursive;
}
.montserrat {
    font-family: "Montserrat", Sans-serif;
}

.form{
    @apply bg-gray-300 rounded-md p-5 m-2;
}
.campo{
    @apply bg-gray-200 rounded-md grid gap-2 p-2;
}
.campo label{
    @apply p-2 rounded-md;
}
.campo input{
    @apply p-2 rounded-md w-full;
}